<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #content {
            margin-left: 0px;
            padding: 60px;
            transition: margin-left 0.3s;
            position: relative;
            background: linear-gradient(to bottom, #0f1024, #000);
            color: white;
        }


    </style>
</head>
<body>
    

    <div id="content">
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <h1>About Spotify</h1>
        <h1></h1>
        <div>
            <img [src]="image1" 
            width = "1000"
            height="600" 
    
            >

        
        </div>
        <p>
            Spotify’s platform revolutionized music listening forever when we launched in 2008. Our move into podcasting brought innovation and a new generation of listeners to the medium, and in 2022 we entered the next audio market primed for growth with the addition of audiobooks.
        </p>
        <p>
            Today, more listeners than ever can discover, manage and enjoy over 100 million tracks, 5 million podcast titles, and 350,000 audiobooks on Spotify. We are the world’s most popular audio streaming subscription service with more than 551 million users, including 220 million subscribers in more than 180 markets.</p>
    </div>


</body>
</html>